ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* H6 */
@font-face {
  font-family: "Hipstelvetica";
  src: url("./fonts/Hipstelvetica.ttf");

  font-weight: normal;
  font-style: normal;
}
.header-color {
  font-size: 12px;
  font-family: "Hipstelvetica";
  color: rgb(255, 51, 51);
  font-weight: bold;
  line-height: 2;
  text-transform: uppercase;
}

.header-title {
  font-size: 18px;
  font-family: "Marvel";
  font-weight: bold;
  color: #333;
  line-height: 2;
}
/* H6 */

/* LINK */
.link-list {
  margin-bottom: 10px;
  margin-top: 10px;
}
.link {
  text-decoration: none;
  width: 300px;
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;

  font-size: 24px;
  font-family: "Marvel";
  font-weight: bold;
  line-height: 1.5;
  color: #333;
  border-bottom: 1px solid #e1e1e1;
  transition-duration: 250ms;
}

.link:hover {
  color: #000;
  border-bottom: transparent;
  background-color: #e1e1e1;
  transition-duration: 250ms;
}
.link:active {
  color: #2d2d2d;
  border-bottom: transparent;
  transition-duration: 250ms;
}
.link:visited {
  color: #666;
  border-bottom: transparent;
  transition-duration: 250ms;
}

.link-test {
  text-decoration: none;
  width: 300px;
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 24px;
  font-family: "Marvel";
  font-weight: bold;
  line-height: 1.5;
  color: #333;
  border-bottom: 1px solid #e1e1e1;
}

.link-hovered {
  color: #000;
  background-color: #e1e1e1;
  border-bottom: transparent;
}
.link-active {
  color: #000;

  border-bottom: transparent;
}
.link-visited {
  color: #666;
  border-bottom: 1px solid #e1e1e1;
}

/* CHECKBOX-SQUERE */
.checkbox-input {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  position: absolute;
}
/* .checkbox-sq {
  display: vertical-align;
} */
.checkbox-label {
  position: relative;
  padding-left: 28px;

  font-size: 24px;
  font-family: "Marvel";
  font-weight: bold;
  line-height: 1.5;
  color: #000000;
}
.checkbox-label::before {
  content: "";
  display: block;

  width: 20px;
  height: 20px;
  background-color: #22f8b9;
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 1;
}
.checkbox-label::after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  mask-image: url(./img/checkmark.svg) no-repeat;
  /* background: url("./img/checkmark.svg") no-repeat; */
  background-size: 13px 13px;
  opacity: 0;
  position: absolute;
  top: 7px;
  left: 3px;
  z-index: 2;
  fill: red;
}
/* .checkbox-input:checked + .checkbox-label::before {
  background-color: red;
} */
.checkbox-input:checked + .checkbox-label::after {
  opacity: 1;
}
/* /CHECKBOX-SQUERE */
