ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* H6 */
@font-face {
  font-family: "Hipstelvetica";
  src: url("./fonts/Hipstelvetica.ttf");

  font-weight: normal;
  font-style: normal;
}
.header-color {
  font-size: 12px;
  font-family: "Hipstelvetica";
  color: rgb(255, 51, 51);
  font-weight: bold;
  line-height: 2;
  text-transform: uppercase;
}

.header-title {
  font-size: 18px;
  font-family: "Marvel";
  font-weight: bold;
  color: #333;
  line-height: 2;
}
/* H6 */

/* LINK */
.link-list {
  margin-bottom: 10px;
  margin-top: 10px;
}
.link {
  text-decoration: none;
  width: 300px;
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;

  font-size: 24px;
  font-family: "Marvel";
  font-weight: bold;
  line-height: 1.5;
  color: #333;
  border-bottom: 1px solid #e1e1e1;
  transition-duration: 250ms;
}

.link:hover {
  color: #000;
  border-bottom: transparent;
  background-color: #e1e1e1;
  transition-duration: 250ms;
}
.link:active {
  color: #2d2d2d;
  border-bottom: transparent;
  transition-duration: 250ms;
}
.link:visited {
  color: #666;
  border-bottom: transparent;
  transition-duration: 250ms;
}
/* LINK-WORKS */
.link-test {
  text-decoration: none;
  width: 300px;
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 24px;
  font-family: "Marvel";
  font-weight: bold;
  line-height: 1.5;
  color: #333;
  border-bottom: 1px solid #e1e1e1;
}

.link-hovered {
  color: #000;
  background-color: #e1e1e1;
  border-bottom: transparent;
}
.link-active {
  color: #000;

  border-bottom: transparent;
}
.link-visited {
  color: #666;
  border-bottom: 1px solid #e1e1e1;
}

/* CHECKBOX-SQUERE */
.checkbox-input {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  position: absolute;
}
/*  Default */
.checkbox-label {
  position: relative;
  padding-left: 28px;

  font-size: 24px;
  font-family: "Marvel";
  font-weight: bold;
  line-height: 1.5;
  color: #000000;
}
.checkbox-label::before {
  content: "";
  display: block;

  width: 20px;
  height: 20px;
  background-color: #22f8b9;
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 1;
}

/* Checked */
.checkbox-label-checked {
  position: relative;
  padding-left: 28px;

  font-size: 24px;
  font-family: "Marvel";
  font-weight: bold;
  line-height: 1.5;
  color: #000000;
}
.checkbox-label-checked::before {
  content: "";
  display: block;

  width: 20px;
  height: 20px;
  background-color: #22f8b9;
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 1;
}

.check-icon-check {
  position: absolute;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-top: 10px;
  margin-left: -25px;
  z-index: 2;
  fill: #0000ff;
}
/* Disabled */

.checkbox-label-disabled {
  position: relative;
  padding-left: 28px;

  font-size: 24px;
  font-family: "Marvel";
  font-weight: bold;
  line-height: 1.5;
  color: #000000;
}
.checkbox-label-disabled::before {
  content: "";
  display: block;

  width: 20px;
  height: 20px;
  background-color: #eaeaea;
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 1;
}
/* CHECBOKS-WORKS */
.checkbox-input-works {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  position: absolute;
}
.checkbox-label-works {
  position: relative;
  padding-left: 28px;

  font-size: 24px;
  font-family: "Marvel";
  font-weight: bold;
  line-height: 1.5;
  color: #000000;
}
.checkbox-label-works::before {
  content: "";
  display: block;

  width: 20px;
  height: 20px;
  background-color: #22f8b9;
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 1;
}

.check-icon {
  position: absolute;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-top: 10px;
  margin-left: -25px;
  z-index: 2;
  fill: transparent;
  transition-duration: 250ms;
}

.checkbox-input-works:checked + .check-icon {
  fill: #0000ff;
  transition-duration: 250ms;
}
.checkbox-input-works:disabled {
  background-color: #eaeaea;
}
/* /CHECKBOX-SQUERE */
